<!DOCTYPE html>
<html>
<head>
  <title>Hello</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/titanic">Titanic</a>
      <a href="https://github.com/Allammo1" target="_blank">About</a>
    </nav>
  </header>
  <main>
    <h1>I have been seen {{ count }} times.</h1>
    <ul>
      {% for i in range(1, count + 1) %}
      <li>{{ i }}: Hello {{ name }}!</li>
      {% endfor %}
    </ul>
  </main>
</body>
</html>
